%h1= _("Show picture: %{title}", :title => @picture.title)

= link_to edit_group_picture_path(@group, @picture), :class => "btn" do
  %i.icon-pencil
  = _("Edit")

= link_to group_pictures_path(@group), :class => "btn" do
  %i.icon-arrow-left
  = _("Back")
